/* Center everything on the page */
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

/* Style line so it spans only the gamebaord */
hr {
    width: 50vw;
}

/* Style the errors indicator */
#errors {
    color: rgb(199, 50, 43);
}

/* Style the gameboard:
 - size needs to be divisible by 9
 - centered on page
 - displayed using flex
 */
#gameboard {
    width: 630px;
    height: 630px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* Style the squares of the gameboard:
- establish a "square" class
- sized as quotient from the gameboard size with enough room for border
- size the text of the number and make it stand out
- center using flex, horizontally and vertically */
.tile {
    width: 66px;
    height: 66px;
    border: 2px solid lightblue;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the numbers bar to pick from:
- same width as the gameboard
- height set to size of square
- centered in relation to gameboard */
#digits {
    width: 630px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* Style the numbers as they're placed in the squares
- use the same styling as the squares */
.number {
    width: 56px;
    height: 56px;
    border: 3px solid darkblue;
    margin: 4px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Show user which number is slected */
.number-selected {
    background-color: lightcyan;
}

/* Display which tiles have numbers already */
.tile-start {
    background-color: lavender;
}

/* Add border around squares */
.horizontal-line {
    border-bottom: 2px solid purple;
}
.vertical-line {
    border-right: 2px solid purple;
}